---
version: 5
---

@import 'variables';

.four-oh-four {
  h2 {
    color: $gds-purple-900;
  }

  .btn-outline-primary {
    transition: 0.3s all;
    border-color: $landing-gl-purple-500;
    color: $landing-gl-purple-500;

    &:hover {
      color: $gds-white;
      background-color: $landing-gl-purple-500;
    }
  }

  .search {
    background: $gds-white;
    box-shadow: 0 0 0.125rem $landing-gl-black-50, 0 0.5rem 1.5rem $landing-gl-blue-950;
    border-radius: 0.25rem;
    width: 65%;

    @media (max-width: $bp-md) {
      width: 100%;
    }

    .card-title {
      font-size: 2rem;
      color: $gds-purple-900;

      @media (max-width: $bp-xs) {
        font-size: 2rem;
      }
    }

    .algolia-autocomplete {
      width: 100%;
    }

    .search-icon {
      position: absolute;
      left: 2rem;
      bottom: 3rem;
      z-index: 1;
    }

    .form-control {
      background: $gds-white;
      border: 1px solid $landing-gl-purple-550;
      box-sizing: border-box;
      box-shadow: 0 0 0 0.25rem $landing-gl-blue-200;
      border-radius: 1.5rem;
      padding-left: 2.5rem;
    }
  }

  .algolia-autocomplete {
    .ds-dropdown-menu [class^=ds-dataset-] {
      /* stylelint-disable declaration-no-important */
      max-height: 30vh !important;
      max-width: 85vw !important;
      /* stylelint-enable declaration-no-important */
      overflow-x: scroll;
    }
  }
}
